@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  max-width: 1200px;
  margin: 0 auto;
  background: url(/img/bg.jpeg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
}

.welcome__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.welcome__nav-item {
  list-style: none;
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 10px;
  background: #fff;
}

.welcome__nav-item:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.72);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.72);
}

.welcome__nav-item:last-child {
  margin: 0 0 0 20px;
}

.welcome__nav-link {
  display: inline-block;
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
}

/*--------------------*/
@media (max-width: 992px) {
  .welcome__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .welcome__nav-item {
    text-align: center;
    width: 90%;
    margin: 0 5%;
  }
  .welcome__nav-item:last-child {
    margin-left: 0;
    margin: 10px 5% 0 5%;
  }
}

/*--------------------*/
.title {
  font-size: 24px;
  text-align: center;
  padding: 30px 0 30px 0;
}

/*----------import-----------*/
.time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
}

.time__block-timer {
  margin-top: 20%;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.time__block-timer span {
  font-size: 48px;
}

.time__back {
  position: absolute;
  top: 15px;
  left: 15px;
}

/*--------------------*/
@media (max-width: 992px) {
  .time__block-timer span {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .time__block-timer {
    margin-top: 30%;
    padding: 10px;
  }
  .time__block-timer span {
    font-size: 18px;
  }
  .time__back {
    top: 3px;
    left: 3px;
    font-size: 14px;
  }
}

.weather {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  width: 50%;
  min-height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
  padding-bottom: 5%;
}

.weather__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.weather__result-city {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.weather__result-degree {
  position: relative;
  font-size: 24px;
  margin: 0 0 0 20px;
  padding: 10px;
  cursor: pointer;
}

.weather__result-close {
  padding: 3px;
  cursor: pointer;
}

.weather__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.weather__item-inp {
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
  position: relative;
}

.weather__item-btn {
  margin: 0 0 0 20px;
  background: #fff;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 5px;
}

.weather__item-btn:hover {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.72);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.72);
}

.weather__error {
  display: none;
  margin: 0 auto;
  color: red;
  font-size: 18px;
  margin-top: 10px;
}

.weather__back {
  position: absolute;
  top: 15px;
  left: 15px;
}

/*--------------------*/
@media (max-width: 992px) {
  .weather__result {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 5% 0 5%;
    text-align: center;
  }
  .weather__result-city {
    font-size: 16px;
    padding: 10px;
    position: relative;
  }
  .weather__result-degree {
    font-size: 16px;
    margin: 5px 0 0 0;
    padding: 10px;
  }
  .weather__result-close {
    position: absolute;
    padding: 3px;
    cursor: pointer;
    top: 20%;
    left: 80%;
  }
  .weather__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 5% 0 5%;
  }
  .weather__item-btn {
    margin: 20px 0 0 0;
  }
  .title {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .weather__result {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 1% 0 1%;
    text-align: center;
  }
  .weather__result-city {
    font-size: 14px;
    padding: 5px;
    position: relative;
  }
  .weather__result-degree {
    font-size: 14px;
    margin: 5px 0 0 0;
    padding: 5px;
  }
  .weather__result-close {
    position: absolute;
    padding: 3px;
    cursor: pointer;
    top: 13%;
    left: 65%;
  }
  .weather__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 0 1% 0 1%;
  }
  .weather__item-btn {
    margin: 7px 0 0 0;
  }
  .weather__error {
    margin-top: 4px;
    font-size: 12px;
  }
  .weather__back {
    top: 3px;
    left: 3px;
    font-size: 14px;
  }
  .title {
    font-size: 16px;
    padding: 5px;
  }
}

/*--------------------*/
