.time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 10%;
}

.time__block-timer {
  margin-top: 20%;
  margin: 0 auto;
  border: 2px solid #000;
  padding: 20px;
  border-radius: 10px;
}

.time__block-timer span {
  font-size: 48px;
}

.time__back {
  position: absolute;
  top: 15px;
  left: 15px;
}

/*--------------------*/
@media (max-width: 992px) {
  .time__block-timer span {
    font-size: 36px;
  }
}

@media (max-width: 576px) {
  .time__block-timer {
    margin-top: 30%;
    padding: 10px;
  }
  .time__block-timer span {
    font-size: 18px;
  }
  .time__back {
    top: 3px;
    left: 3px;
    font-size: 14px;
  }
}
