.time {
   position: relative;  
   display: flex;
   flex-direction: column;
   background: #fff;
   width: 33%;
   height: 33%;
   border-radius: 10px;
   margin: 0 auto;
   margin-top: 10%;

   &__block-timer {
      margin-top: 20%;
      margin: 0 auto;
      border: 2px solid #000;
      padding: 20px;
      border-radius: 10px;
      span {
         font-size: 48px;
      }
   }

   &__back {
      position: absolute;
      top: 15px;
      left: 15px;
   }
}
/*======================*/
@media (max-width: 992px) {
   .time {
      &__block-timer {         
         span {
            font-size: 36px;
         }
      }      
   }
}

@media (max-width: 576px) {
   .time {
      &__block-timer { 
         margin-top: 30%;        
         padding: 10px;        
         span {
            font-size: 18px;
         }
      }
      &__back {         
         top: 3px;
         left: 3px;
         font-size: 14px;
      }        
   }
}


